<footer>
    <div class="icons-footer">
        <img class="icon-footer" src="../../assets/iconos/facebook.png" alt="">
        <img class="icon-footer" src="../../assets/iconos/twitter.png" alt="">
        <img class="icon-footer" src="../../assets/iconos/instagram.png" alt="">
    </div>
    <img class="logo-footer" src="../../assets/logos/Logo2-Nany-trans-blanco.png" alt="">
    <p class="address-footer">901-947 South Drive, Houston,<br> TX 77057, USA <br> Telephone: +1 555 1234
    </p>
    <img class="logo-car-footer" src="../../assets/logos/logo-footer.png" alt="">
    <hr>
    <p class="copyright-footer">
        Copyright © 2021 NanyTemplate. All rights reserved.
    </p>
</footer>