<app-navbar></app-navbar>
<div id="profileContainer" class="container pb-5">
    <div class="row">
        <div class="col-5 mt-5 mb-4">
            <img [src]="usuario.imagen" alt="">
        </div>
        <div class="col-7 mt-5">
            <h5>{{usuario.nombre}} {{usuario.apellido}}</h5>
            <h5 *ngIf="usuario.genero">Masculino</h5>
            <h5 *ngIf="!usuario.genero">Femenino</h5>
            <h5 *ngIf="usuario.ciudad">{{usuario.ciudad.ciudad}}, HN</h5>
        </div>
        <hr>
        <h4>Actualiza tu información</h4>
        <hr>
        <div class="form-content">
            <h5>Nombre</h5>
            <input type="text" [(ngModel)]="usuario.nombre" class="form-control input-form">
            <h5>Apellido</h5>
            <input type="text" [(ngModel)]="usuario.apellido" class="form-control input-form">
            <h5>Correo electrónico</h5>
            <input type="email" [(ngModel)]="usuario.correo" class="form-control input-form">
            <h5>Ciudad</h5>
            <select *ngIf="usuario.ciudad" class="form-select"[(ngModel)]="usuario.ciudad.idCiudad" >
                <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad.idCiudad">{{ciudad.ciudad}}</option>
            </select>
            <h5>Fecha de nacimiento</h5>
            <input type="date" [(ngModel)]="usuario.fechaNacimiento" class="form-control input-form">
            <h5>Género</h5>
            <div class="chks-form">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" [value]="true" [(ngModel)]="usuario.genero" name="check" id="inlineCheckbox1">
                    <label class="form-check-label" for="inlineCheckbox1">Masculino</label>
                </div>
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio"[value]="false" [(ngModel)]="usuario.genero" name="check" id="inlineCheckbox2">
                    <label class="form-check-label" for="inlineCheckbox2">Femenino</label>
                </div>
            </div>
            <h5>Sube una Imagen</h5>
            <label *ngIf="inputFile" class="btn-upload-image">
                Sube Imagen
                <input class="d-none" (change)="selectImage($event)" type="file">
            </label>
            <label *ngIf="!inputFile" class="btn-uploaded-image">
                <fa-icon class="check-upload" [icon]="faCheck"></fa-icon>
            </label>
            <button *ngIf="buttonFile" type="button" class="btn btn-success" (click)="onUpload()" id="btn-save-image">Subir Imagen</button>
            <button type="button" class="btn btn-success" (click)="actualizarUsuario()" id="btn-save">Guardar</button>
            <button type="button" class="btn btn-secundary" id="btn-cancel">Cancelar</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
<ngx-spinner *ngIf="isLoading" bdColor = "rgba(255,255,255,0.8)" size = "large" color = "#a6032f" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>