<app-navbar></app-navbar>

<!--Breadcrumb Navigation-->
<div class="container">
    <div class="row">
        <div class="bc-checkout-title">
            <img src="../../assets/logos/Logo2-Nany-trans.png" alt="">
            <hr>
        </div>
        <div class="bc-body bc-checkout-active">
            <button id="btnShoppingCar" type="button">1</button>
            <p for="btnShoppingCar">Carrito de Compras</p>
        </div>
        <div class="bc-body bc-checkout-disable">
            <button id="btnShoppingCar" type="button">2</button>
            <p for="btnShoppingCar">Checkout</p>
        </div>
        <div class="bc-body bc-checkout-disable">
            <button id="btnShoppingCar" type="button">3</button>
            <p for="btnShoppingCar">Completar Orden</p>
        </div>
    </div>
</div>
<!--Title Section-->
<div class="title-banner-chck">
    <label>Completar Orden</label>
</div>

<!--Car Items Added-->
<div class="container">
    <div class="row">
        <div class="card-item-car mb-3 mt-2">
            <button type="button" class="btn-close" aria-label="Close"></button>
            <hr>
            <div class="card-item-title">
                <label>Producto</label>
            </div>
            <div class="card-item-description">
                <p>Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</p>
                <small class="cost-title">Precio Unitario:</small>
                <small class="cost-details">L. 20.00</small>
                <small class="cost-title">ISV:</small>
                <small class="cost-details">+ L. 5.00</small>
                <small class="cost-title">Envío:</small>
                <small class="cost-details">+ L. 51.00</small>
            </div>
            <hr>
            <div class="card-item-title mt-2">
                <label>Cantidad</label>
            </div>
            <div class="card-item-quantity">
                <input type="number" min="0">
            </div>
            <hr>
            <div class="card-item-title mt-1">
                <label>Total</label>
            </div>
            <div class="card-item-description">
                <h6 class="cost-total">L. 51.00</h6>
            </div>
        </div>
        <div class="card-item-car mb-3 mt-2">
            <button type="button" class="btn-close" aria-label="Close"></button>
            <hr>
            <div class="card-item-title">
                <label>Producto</label>
            </div>
            <div class="card-item-description">
                <p>Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</p>
                <small class="cost-title">Precio Unitario:</small>
                <small class="cost-details">L. 20.00</small>
                <small class="cost-title">ISV:</small>
                <small class="cost-details">+ L. 5.00</small>
                <small class="cost-title">Envío:</small>
                <small class="cost-details">+ L. 51.00</small>
            </div>
            <hr>
            <div class="card-item-title mt-2">
                <label>Cantidad</label>
            </div>
            <div class="card-item-quantity">
                <input type="number" min="0">
            </div>
            <hr>
            <div class="card-item-title mt-1">
                <label>Total</label>
            </div>
            <div class="card-item-description">
                <h6 class="cost-total">L. 51.00</h6>
            </div>
        </div>
    </div>
</div>

<div class="title-banner-chck">
    <label>Total del Carrito</label>
</div>


<app-footer></app-footer>