<div id="categoryContainer" class="container">
    <div class="row">
        <h4 class="text-center mt-4">Elige una categoría</h4>
        <hr>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #92509D">
                <div class="card-body">
                    <h5 class="card-title-category">Comida Rápida</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-comida-rapida.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #FC0079">
                <div class="card-body">
                    <h5 class="card-title-category">Bebidas</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-bebidas.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #4A05DB">
                <div class="card-body">
                    <h5 class="card-title-category">Tecnología</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-casa-inteligente.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #EFF32B">
                <div class="card-body">
                    <h5 class="card-title-category">Maquillaje</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-maquillaje.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #3DFCA0">
                <div class="card-body">
                    <h5 class="card-title-category">Zapatos</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-zapatos.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #A6032F">
                <div class="card-body">
                    <h5 class="card-title-category">Super</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-super.png" alt="">
                </div>
            </div>
        </div> 
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #4A05DB">
                <div class="card-body">
                    <h5 class="card-title-category">Moda</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-vestir.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #11E94E">
                <div class="card-body">
                    <h5 class="card-title-category">Hogar</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-hogar.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #F2B311">
                <div class="card-body">
                    <h5 class="card-title-category">Ferretería</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-martillo.png" alt="">
                </div>
            </div>
        </div> 
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #EE809E">
                <div class="card-body">
                    <h5 class="card-title-category">Salud</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-medicamento.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #11BDF2">
                <div class="card-body">
                    <h5 class="card-title-category">Deportes</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-deportes.png" alt="">
                </div>
            </div>
        </div> 
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #D61104">
                <div class="card-body">
                    <h5 class="card-title-category">Mascotas</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-mascotas.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #15A034">
                <div class="card-body">
                    <h5 class="card-title-category">Papelería</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-papeleria.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #A60382">
                <div class="card-body">
                    <h5 class="card-title-category">Joyería y Accesorios</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-joyeria.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #7A04D6">
                <div class="card-body">
                    <h5 class="card-title-category">Niños y Bebes</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-recreo.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6 mr-1 mt-4">
            <div class="card" style="background-color: #F82270">
                <div class="card-body">
                    <h5 class="card-title-category">Pastelería</h5>
                    <img class="card-body-category" src="../../assets/img/categoria-pastel.png" alt="">
                </div>
            </div>
        </div>       
    </div>
</div>