@import '../../styles.sass'

.navbar-toggler
    margin-right: 5px
    margin-bottom: 5px

.navbar-nav .nav-link
    font-weight: bold
    width: 70%
    margin: auto

hr
    margin: 15px 45px
    background-color: white
    opacity: 0.50

#img-logo
    height: 40px
    margin-left: 5px

#logo-blanco
    height: 30px
    margin-top: 25px
    margin-left: 37%

#navbarContent
    background: linear-gradient(0.85deg, rgba(166, 3, 47, 0.6) 0.75%, rgba(255, 255, 255, 0) 40.4%, rgba(255, 255, 255, 0) 51.34%), #D60451
    background-blend-mode: multiply, normal

#btn-1
    border-radius: 40px
    background-color: $color-pink3
    border-color: $color-pink3
    color: $color-pink1

#btn-2
    border-radius: 40px
    background-color: $color-blue2
    border-color: $color-blue2
    color: #FFF

#btn-3
    border-radius: 40px
    background-color: $color-blue1
    border-color: $color-blue1
    color: #FFF
