<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="../../assets/logos/Logo-Nany-trans-1.png" routerLink="/home"  id="img-logo">
    <img class="fa-shooping" src="../../assets/iconos/shopping-cart-icon.png" *ngIf="usuario != ''" routerLink="/checkout" alt="" srcset="">
    <span class="span-shooping-qty" *ngIf="cantidadProductosCarrito != 0 && usuario != ''" >{{cantidadProductosCarrito}}</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="usuario == ''" id="noLoggedDropdown">
        <li class="nav-item">
          <img src="../../assets/logos/Logo2-Nany-trans-blanco.png" id="logoNavbar">
          <hr>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link btn btn-loggin" routerLink="/categorias" id="btnNoLogged1">Ordena</button>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link btn btn-loggin mt-3" routerLink="/login" id="btnNoLogged2">Iniciar Sesión</button>
        </li>
        <li class="nav-item">
        </li>
        <button type="button" class="nav-link btn btn-loggin mt-3 mb-3"  routerLink="/registro" id="btnNoLogged3">Registrarse</button>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="usuario != ''" id="LoggedDropdown">
        <li class="nav-item">
          <img src="../../assets/logos/Logo2-Nany-trans.png" id="logoNavbar">
          <hr>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link btn btn-loggin" routerLink="/perfil" id="btnLogged1">
            <fa-icon class="fa-dropdown" [icon]="faUserCircle"></fa-icon>
            {{usuario.nombre}} {{usuario.apellido}}</button>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link btn btn-loggin mt-3" routerLink="/historial"  id="btnLogged2">
            <fa-icon class="fa-dropdown" [icon]="faSignOutAlt"></fa-icon>
            Historial de Compras</button>
        </li>
        <li class="nav-item">
        </li>
        <button type="button" class="nav-link btn btn-loggin mt-3 mb-3" (click)="logOut()" id="btnLogged3">
          <fa-icon class="fa-dropdown" [icon]="faClipboardList"></fa-icon>
          Cerrar Sesión</button>
      </ul>
    </div>
  </div>
</nav>