@import '../../styles.sass'

.navbar-toggler
    margin-right: 5px
    margin-bottom: 5px

.navbar-nav .nav-link
    font-weight: bold
    width: 70%
    margin: auto

.fa-dropdown
    float: left
    margin-left: 30px
    font-size: 1.1rem

.fa-shooping
    width: auto
    height: 40px
    margin-left: 30%
    margin-bottom: 4px

.span-shooping-qty
    position: absolute
    right: 0
    margin-right: 19%
    margin-bottom: 30px
    background-color: #D60451
    border-radius: 60px
    color: aliceblue
    width: 20px
    text-align: center
    height: 21px
    line-height: initial
    z-index: 2
    top: 5px

hr
    margin: 15px 45px
    background-color: white
    opacity: 0.50

#img-logo
    height: 40px
    margin-left: 5px

#logoNavbar
    height: auto
    margin-top: 25px
    margin-left: auto
    width: 30%
    margin-right: auto
    display: flex

#noLoggedDropdown
    background: linear-gradient(0.85deg, rgba(166, 3, 47, 0.6) 0.75%, rgba(255, 255, 255, 0) 40.4%, rgba(255, 255, 255, 0) 51.34%), #D60451
    background-blend-mode: multiply, normal

#LoggedDropdown
    background: #fff
    background-blend-mode: multiply, normal

.btn-loggin
    border-radius: 40px

#btnNoLogged1
    background-color: $color-pink3
    border-color: $color-pink3
    color: $color-pink1

#btnNoLogged2
    background-color: $color-blue2
    border-color: $color-blue2
    color: #FFF

#btnNoLogged3
    background-color: $color-blue1
    border-color: $color-blue1
    color: #FFF

#btnLogged1
    background-color: $color-pink3
    border-color: $color-pink3
    color: $color-pink1

#btnLogged2
    background-color: $color-pink2
    border-color: $color-pink2
    color: #FFF

#btnLogged3
    background-color: #8A8282
    border-color: #8A8282
    color: #FFF

