<div class="container-fluid container-login">
    <img src="../assets/logos/Logo-Nany-trans-1.png" routerLink="/" id="logo">
    <form class="needs-validation" novalidate [formGroup]="formLogin">
        <div class="form-contents">
            <h2>Inicio de Sesión</h2>
            <div>
                <h5>Correo electrónico</h5>
                <input type="email" class="form-control" [ngClass]="{'is-invalid': correo.invalid && (correo.dirty || correo.touched), 'is-valid': correo.valid}"
                placeholder="ejemplo@gmail.com" formControlName="correo" required>
                <div class="invalid-feedback login-feedback" *ngIf="correo.errors">
                    <span *ngIf="correo.errors.pattern">Correo Inválido</span>
                    <span *ngIf="correo.errors.required && (responseLoggin.code != 0)">Este campo no puede quedar vacío</span>
                    <span *ngIf="responseLoggin.code == 0">{{responseLoggin.message}}</span>
                </div>
            </div>
            <div>
                <h5>Contraseña</h5>
                <input type="password" class="form-control" name="password" autocomplete="on"
                [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid}"
                formControlName="password" required>
                <div class="invalid-feedback login-feedback" *ngIf="password.errors">
                    <span *ngIf="password.errors.required  && (responseLoggin.code != 2)">Este campo no puede quedar vacío</span>
                    <span *ngIf="password.errors.minlength && (responseLoggin.code != 2)">Mínimo 8 caracteres</span>
                    <span *ngIf="responseLoggin.code == 2">{{responseLoggin.message}}</span>
                </div>
            </div>
        </div>
        <div class="form-links pt-2">
            <button type="button" class="btn btn-success" id="btn-login" (click)="login()" [disabled]="!formLogin.valid">Iniciar sesión</button>
            <div class="response-loggin" *ngIf="">
                <span>{{responseLoggin.message}}</span>
            </div>
            <h6>¿Aun no tienes una cuenta?</h6>
            <a href="" routerLink="/register"  id="register">Registrate</a>
        </div>
    </form>
</div>
