<div class="container-fluid">
    <img src="../assets/logos/Logo-Nany-trans-1.png" id="logo">
    <div class="form-contents">
        <h2>Inicio de Sesión</h2>
        <h5>Correo electrónico</h5>
        <input type="text" class="form-control">
        <h5>Contraseña</h5>
        <input type="password" class="form-control">
    </div>
    <div class="form-links">
        <a href="">He olvidado mi contraseña</a>
        <button type="button" class="btn btn-success" id="btn-login">Iniciar sesión</button>
        <h6>¿Aun no tienes una cuenta?</h6>
        <a href="" id="register">Registrate</a>
    </div>
</div>
