<app-navbar #navbar></app-navbar>
<div class="container">
    <a class="row product-company pt-2" data-bs-toggle="modal" data-bs-target="#modalCompany">
        <div class="col-4 product-img-company">
            <img :src={{empresa.logo}} alt="">
        </div>
        <div class="col-8">
            <h4>{{empresa.nombre}}</h4>
            <p>{{empresa.resumen}}</p>
            <fa-icon *ngFor="let i of ' '.repeat(empresa.calificacion).split(''), let x = index" class="product-start"
                [icon]="['fas', 'star']"></fa-icon>
            <fa-icon *ngFor="let i of ' '.repeat(5-empresa.calificacion).split(''), let x = index" class="product-start"
                [icon]="['far', 'star']"></fa-icon>
            <img class="product-touch-company" src="../../assets/iconos/IconTouch-trans.png" alt="">
        </div>
    </a>
</div>

<h4 class="text-center mt-4">Productos de {{empresa.nombre}}</h4>
<div class="products-landing">
    <div class="container">
        <div class="row">
            <div *ngFor="let producto of productos" class="col-12">
                <div class="carousel-item-bg">
                    <img :src={{producto.imagen}} class="products-carousel-landing d-block " alt="...">
                </div>
                <p class="products-title-landing text-center">{{producto.nombre}}</p>
                <p class="products-price-landing text-center">L. {{producto.precio}}</p>
                <app-button-add-producto (onChange)="verCantidad($event)"></app-button-add-producto>
                <button type="button" class="btn-primary products-btn-car" (click)="agregarCarrito(producto)">Agregar al
                    Carrito</button>
                <button type="button" class="btn-secondary products-btn-details" (click)="detalleProductoModal(producto)" data-bs-toggle="modal"
                    data-bs-target="#modalProductDetails">Ver Detalles</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Product Details-->
<div class="modal fade" id="modalProductDetails" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="detalleProducto != ''">
            <div class="modal-header-company">
                <img [src]="empresa.banner" alt="">
            </div>
            <div class="modal-body modal-body-product">
                <p class="text-center">{{detalleProducto.nombre}}</p>
                <img [src]="detalleProducto.imagen" alt="">
                <hr>
                <p class="text-center">
                    {{detalleProducto.nombre}}, {{detalleProducto.descripcion}}
                </p>
                <hr>
                <p class="text-center">Costo: L. {{detalleProducto.precio}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-center" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Company Info -->
<div class="modal fade" id="modalCompany" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-company">
                <img :src={{empresa.banner}} alt="">
            </div>
            <div class="modal-body">
                <h4 class="text-center">{{empresa.nommbre}}</h4>
                <p class="text-justify mt-4">{{empresa.descripcion}}</p>
                <hr>
                <p class="text-initial">Estamos ubicados en: <br />
                    {{empresa.ubicacion}}
                </p>
                <hr>
                <p>
                    Horario de Atención: <br />
                    {{empresa.horario}}
                </p>
                <hr>
                <label class="mr-2">Calificación: </label>
                <fa-icon *ngFor="let i of ' '.repeat(empresa.calificacion).split(''), let x = index" class="product-start"
                    [icon]="['fas', 'star']"></fa-icon>
                <fa-icon *ngFor="let i of ' '.repeat(5-empresa.calificacion).split(''), let x = index" class="product-start"
                    [icon]="['far', 'star']"></fa-icon>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<ngx-spinner *ngIf="isLoading" bdColor = "rgba(255,255,255,0.8)" size = "large" color = "#a6032f" type = "square-jelly-box" [fullScreen] = "false"></ngx-spinner>
<app-footer *ngIf="productos.length != 0"></app-footer>