<app-navbar></app-navbar>
<div class="container">
    <a class="row product-company pt-2" data-bs-toggle="modal" data-bs-target="#modalCompany">
        <div class="col-4 product-img-company">
            <img :src={{company.logo}} alt="">
        </div>
        <div class="col-8">
            <h4>{{company.name}}</h4>
            <p>{{company.abstract}}</p>
            <fa-icon *ngFor="let i of ' '.repeat(company.rating).split(''), let x = index" class="product-start"
                [icon]="['fas', 'star']"></fa-icon>
            <fa-icon *ngFor="let i of ' '.repeat(5-company.rating).split(''), let x = index" class="product-start"
                [icon]="['far', 'star']"></fa-icon>
            <img class="product-touch-company" src="../../assets/iconos/IconTouch-trans.png" alt="">
        </div>
    </a>
</div>

<h4 class="text-center mt-4">Productos</h4>
<div class="products-landing">
    <div class="container">
        <div class="row">
            <div *ngFor="let product of products" class="col-12">
                <div class="carousel-item-bg">
                    <img :src={{product.image}} class="products-carousel-landing d-block " alt="...">
                </div>
                <p class="products-title-landing text-center">{{product.name}}</p>
                <p class="products-price-landing text-center">L. {{product.price}}</p>
                <app-button-add-producto></app-button-add-producto>
                <button type="button" class="btn-primary products-btn-car" routerLink="/checkout">Agregar al
                    Carrito</button>
                <button type="button" class="btn-secondary products-btn-details" data-bs-toggle="modal"
                    data-bs-target="#modalProductDetails">Ver Detalles</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Product Details-->
<div class="modal fade" id="modalProductDetails" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-company">
                <img src="../../assets/img/banners/banner-wendys.jpg" alt="">
            </div>
            <div class="modal-body modal-body-product">
                <p class="text-center">Coca Cola Vidrio 1/4li</p>
                <img src="../../assets/img/products/Coca-Cola-bebida.webp" alt="">
                <hr>
                <p class="text-center">
                    Coca Cola Vidrio, tamaño 25cm. Vidrio reutilizable.
                </p>
                <hr>
                <p class="text-center">Costo: L. 10.00</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-center" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Company Info -->
<div class="modal fade" id="modalCompany" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-company">
                <img :src={{company.banner}} alt="">
            </div>
            <div class="modal-body">
                <h4 class="text-center">{{company.name}}</h4>
                <p class="text-justify mt-4">{{company.description}}</p>
                <hr>
                <p class="text-initial">Estamos ubicados en: <br />
                    {{company.location}}
                </p>
                <hr>
                <p>
                    Horario de Atención: <br />
                    {{company.schedule}}
                </p>
                <hr>
                <label class="mr-2">Calificación: </label>
                <fa-icon *ngFor="let i of ' '.repeat(company.rating).split(''), let x = index" class="product-start"
                    [icon]="['fas', 'star']"></fa-icon>
                <fa-icon *ngFor="let i of ' '.repeat(5-company.rating).split(''), let x = index" class="product-start"
                    [icon]="['far', 'star']"></fa-icon>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>