<app-navbar></app-navbar>
<div id="profileContainer" class="container pb-5">
    <div class="row">
        <div class="col-5 mt-5 mb-4">
            <img src="../../assets/iconos/user-icon.png" alt="">
        </div>
        <div class="col-7 mt-5">
            <h5>Kevin Flores</h5>
            <h5>Masculino</h5>
            <h5>Tegucigalpa, HN</h5>
        </div>
        <hr>
        <h4>Actualiza tu información</h4>
        <hr>
        <div class="form-content">
            <h5>Nombre</h5>
            <input type="text" class="form-control input-form">
            <h5>Apellido</h5>
            <input type="text" class="form-control input-form">
            <h5>Correo electrónico</h5>
            <input type="email" class="form-control input-form">
            <h5>Ciudad</h5>
            <select class="form-select " aria-label="Default select example">
                <option disabled selected>Seleccione</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <h5>Fecha de nacimiento</h5>
            <input type="date" class="form-control input-form">
            <h5>Género</h5>
            <div class="chks-form">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="check" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Masculino</label>
                </div>
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="check" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Femenino</label>
                </div>
            </div>
            <button type="button" class="btn btn-success" id="btn-save">Guardar</button>
            <button type="button" class="btn btn-secundary" id="btn-cancel">Cancelar</button>
        </div>
    </div>
</div>

<div id="historialContainer" class="container pb-5">
    <h3 class="text-center my-4">Mis compras realizadas</h3>
    <div class="row" id="historial">
        <h3 class="text-initial mt-2">08/09/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h5>Wendys Pack</h5>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Destino: Col. la Travesia</h6>
        </div>
        <div class="col-4 mb-2">
            <a data-bs-toggle="modal" data-bs-target="#modalInvoice" class="col-4 mb-2">
                <img class="d-block img-historial" src="../../assets/img/products/wendys-food.jpg" alt="">
            </a>
            <button class="d-block btn btn-state-order" style="background-color: #FF1E1E" type="button">En Camino</button>
        </div>
        <hr>
        <h3 class="text-initial mt-2">08/09/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h5>Wendys Pack</h5>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Destino: Col. la Travesia</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/products/wendys-food.jpg" alt="">
            <button class="d-block btn btn-state-order" style="background-color: #00EF35" type="button">En Entregada</button>
        </div>
        <hr>
        <h3 class="text-initial mt-2">08/09/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h5>Wendys Pack</h5>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Destino: Col. la Travesia</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/products/wendys-food.jpg" alt="">
            <button class="d-block btn btn-state-order" style="background-color: #FF008A" type="button">En Destino</button>
        </div>
        <hr>
        <h3 class="text-initial mt-2">08/09/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h5>Wendys Pack</h5>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Destino: Col. la Travesia</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/products/wendys-food.jpg" alt="">
            <button class="d-block btn btn-state-order" style="background-color: #FFE500" type="button">En Origen</button>
        </div>
        <hr>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalInvoice" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="../assets/logos/Logo-Nany-trans-1.png" id="logo">
            </div>
            <div class="modal-body container">
                <h3 class="text-center">Factura</h3>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Envío</th>
                            <th scope="col">ISV</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total:</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>