/*Nany Fonts*/
@font-face
    font-family: 'Roboto'
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf')

@font-face
    font-family: "Raleway"
    src: url('assets/fonts/Raleway/static/Raleway-Bold.ttf')

/*Nany Colors*/
$color-pink1: #D60451
$color-pink2: #A6032F
$color-pink3: #FFE9C7
$color-blue1: #11BDF2
$color-blue2: #1A7BDB

/*Screen Sizing*/
$sm-breackpoint: 576px
$lg-breackpoint: 960px


body
    font-family: 'Raleway'
    font-weight: bold

h3
    color: $color-pink1
    font-weight: bold
    font-size: 22px

.btn-primary
    background-color: $color-pink1
    color: #fff
    border-radius: 11px
    border: none

/* Landing Page Styles */

@media (max-width: $lg-breackpoint)
    .carousel-land
        height: 250px
        z-index: 1
        position: absolute

    .carousel-landing
        background-attachment: fixed
        height: 250px !important
        background-repeat: no-repeat

    .carousel-info
        z-index: 2
        position: relative
        padding-top: 70px
        width: 40%
        margin-left: 30px

    .carousel-info h1
        color: #000
        text-align: center
        font-size: 1.0rem
        word-wrap: break-word

    .carousel-info button
        margin-top: 15px
        margin-left: 10px
        height: 30px
        width: 112px
        font-size: 15px
        text-align: center
        vertical-align: middle
        line-height: 0

    #carouselInfo
        height: 250px

    .card-body-category
        height: 90px
        width: 96px
        margin-left: 20px
        margin-top: 5px

    .card-landing
        height: 120px

    .card-body-landing h2
        line-height: 4
        color: #fff
        margin-left: 20px
        width: 100%

    .products-landing
        background-color: #FBF3F3
        position: relative
        margin-top: 15px
        height: auto
    
    .products-landing h3
        font-size: 20px
        margin-top: 50px

    .products-landing h4
        color: #000000b6
        font-size: 13px
        text-align: center
        margin-top: 5px

    .carousel-item-bg 
        margin-top: 30px   
        background-color: #fff
        border-radius: 25px
        width: 50%
        margin-right: auto
        margin-left: auto 
        height: 170px

    .products-carousel-landing
        width: 100%
        box-sizing: border-box
        height: 100%

    .products-title-landing
        color: $color-pink2
        font-size: 1.0rem
        overflow: hidden
        word-break: break-word
        margin-top: 10px
        margin-bottom: 10px
    
    .product-btn-carousel-landing
        background-color: $color-pink2
        color: #fff
        border-radius: 20px
        background-size: 80% 80%
    
    .btn-fix-carousel
        opacity: 1
        width: 25%

    .products-price-landing
        color: #000
        font-size: 1.2rem
    
    .products-qty-landing
        box-sizing: border-box
        margin-left: auto
        margin-right: auto
        display: flex
        width: 60%
        border-radius: 25px
        border: 1px solid $color-pink2
        margin: 10px auto
        height: 50px
    
    .products-btn-landing
        background-color: $color-pink2
        margin-left: auto
        margin-right: auto
        width: 50%
        display: block
        height: 40px
        border-radius: 35px
        margin-top: 30px
        margin-bottom: 100px

    .info-landing
        position: relative
        height: 220px

    .info-landing-layout
        margin-top: -40px
        border-radius: 60%
        height: 90px
        width: 100%
        box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%)
        position: relative
        background: $color-pink2

    .info-landing-layout2
        background: $color-pink2
        position: absolute
        height: 170px
        z-index: 2
        width: 100%
        margin-top: 47px

    .info-box img
        height: 63px
        width: 63px
        margin-left: auto
        margin-right: auto
        display: flex

    .info-box p
        color: #fff
        text-align: center
        margin-top: 20px

    .card-company-landing
        height: 150px
        width: 100%
        box-sizing: content-box
        display: flex

    .card-company-landing img
        height: auto
        width: 70%
        box-sizing: border-box
        margin: auto

    .contact-landing
        background-color: #FFE9C7
        font-size: 1.0rem
        padding-left: 10px
        padding-top: 15px
        padding-bottom: 10px

    .contact-landing h3
        font-size: 0.95rem

    /*Login Styles*/
    .form-contents
        background-color: $color-pink1
        height: 320px
        border-top-left-radius: 40%
        border-top-right-radius: 40%
        color: #fff

    .form-contents h2
        padding-top: 60px
        text-align: center
    
    .form-contents input
        width: 90%
        margin: auto
        border-radius: 12px
    
    .form-contents h5
        margin-top: 25px
        margin-bottom: 25px
        padding-left: 22px

    .form-links
        background-color: $color-pink1
        height: 200px
    
    .form-links a 
        color: #fff
        text-decoration: none
        font-size: 13px
        padding-left: 22px
    
    .form-links h6
        margin-top: 30px
        padding-left: 15%
        color: #FFF

    #btn-login
        border-radius: 20px
        background-color: $color-blue2
        border-color: $color-blue2
        color: #FFF
        width: 90%
        height: 40px
        margin-left: 5%
        margin-top: 25px

    #logo
        width: 60%
        margin-left: 20%
        margin-top: 20px
        margin-bottom: 20px
    
    #register
        color: $color-blue2
        text-decoration: none
        font-size: 15px
        padding-left: 35%