<div class="container-fluid">
    <img src="../assets/logos/Logo-Nany-trans-1.png" id="logo" routerLink="/">
    <div class="info">
        <h6>Completa tus datos personales para comenzar</h6>
    </div>
    <form class="needs-validation" novalidate [formGroup]="formRegistro">
        <div class="form-contenedor">
            <h2>Registrarse</h2>
            <div>
                <h5>Nombre</h5>
                <input type="text" class="form-control inp-form" formControlName="nombre" required
                [ngClass]="{'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched), 'is-valid': nombre.valid}">
                <div class="invalid-feedback login-feedback" *ngIf="nombre.errors">
                    <span *ngIf="nombre.errors.required">Este campo no puede quedar vacío</span>
                    <span *ngIf="nombre.errors.maxlength">Máximo 30 caracteres</span>
                </div>
            </div>
            <div>
                <h5>Apellido</h5>
                <input type="text" class="form-control inp-form" formControlName="apellido" required
                [ngClass]="{'is-invalid': apellido.invalid && (apellido.dirty || apellido.touched), 'is-valid': apellido.valid}">
                <div class="invalid-feedback login-feedback" *ngIf="apellido.errors">
                    <span *ngIf="apellido.errors.required">Este campo no puede quedar vacío</span>
                    <span *ngIf="apellido.errors.maxlength">Máximo 30 caracteres</span>
                </div>
            </div>
        </div>
        <div class="form-links register">
            <div>
                <h2>Correo electrónico</h2>
                <input type="email" class="form-control inp-form" [ngClass]="{'is-invalid': correo.invalid && (correo.dirty || correo.touched), 'is-valid': correo.valid}"
                placeholder="ejemplo@gmail.com" formControlName="correo" required>
                <div class="invalid-feedback login-feedback" *ngIf="correo.errors">
                    <span *ngIf="correo.errors.pattern">Correo Inválido</span>
                    <span *ngIf="correo.errors.required && (responseRegistro.code != 0)">Este campo no puede quedar vacío</span>
                    <span *ngIf="responseRegistro.code == 0">{{responseRegistro.message}}</span>
                </div>
            </div>
            <div>
                <h5>Contraseña</h5>
                <input type="password" class="form-control inp-form" name="password" autocomplete="on"
                [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid}"
                formControlName="password" required>
                <div class="aviso">
                    <span *ngIf="!password.invalid || (!password.dirty && !password.touched)">
                        Mínimo 8 caracteres, incluyendo al menos una mayuscula y un numero</span>
                </div>
                <div class="invalid-feedback login-feedback" *ngIf="password.errors">
                    <span *ngIf="password.errors.required">Este campo no puede quedar vacío</span>
                    <span *ngIf="password.errors.pattern">Mínimo 8 caracteres, una mayuscula y numeros</span>
                </div>
            </div>
            <div>
                <h5>Confirmar contraseña</h5>
                <input type="password" class="form-control inp-form" name="confirmPassword" autocomplete="on" [formControl]="confirmPassword" required
                [ngClass]="{'is-invalid': (confirmPassword.value != password.value && confirmPassword.touched), 'is-valid': (confirmPassword.value == password.value) && confirmPassword.touched}">
                <div class="invalid-feedback login-feedback">
                    <span *ngIf="confirmPassword.value != password.value">Las contraseñas no coinciden.</span>
                </div>
            </div>
            <div>
                <h5>Ciudad</h5>
                <select class="form-select" aria-label="Default select example" formControlName="ciudad" required
                [ngClass]="{'is-invalid': ciudad.invalid && (ciudad.dirty || ciudad.touched), 'is-valid': ciudad.valid}">
                    <option selected disabled >Seleccione</option>
                    <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad.idCiudad">{{ciudad.ciudad}}</option>
                </select>
                <div class="invalid-feedback login-feedback" *ngIf="ciudad.errors">
                    <span *ngIf="ciudad.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div>
                <h5>Fecha de nacimiento</h5>
                <input type="date" class="form-control inp-form" formControlName="fechaNacimiento" required
                [ngClass]="{'is-invalid': fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched), 'is-valid': fechaNacimiento.valid}">
                <div class="invalid-feedback login-feedback" *ngIf="fechaNacimiento.errors">
                    <span *ngIf="fechaNacimiento.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <h5>Género</h5> 
            <div class="chk-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="genero" [value]="true" name="genero" id="genderMale" required>
                    <label class="form-check-label" for="genderMale">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="genero" [value]="false" name="genero" id="genderFemale" required>
                    <label class="form-check-label" for="genderFemale">Femenino</label>
                </div>
            </div><br>
            <div class="chk-form">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Aceptar términos y condiciones de uso de nany.com 
                    </label>
                </div>
            </div>
            <button [disabled]="formRegistro.invalid || (password.value != confirmPassword.value)"
            type="button" class="btn btn-success" id="btn-login" (click)="registrar()">Registrarse</button>
            <div class="registro-add-response">
                <span *ngIf="responseRegistro.code == 0">{{responseRegistro.message}}</span>
            </div>
            <h6>¿Ya tienes una cuenta?</h6>
            <a routerLink="/login" id="registro">Inicia sesión</a>
        </div>
    </form>
</div>

